In [381]:
%run result_df
%run feature_df

In [383]:
data = pd.read_csv(r'shedulers.csv', encoding='cp1251', sep=';')
data

           ФИО Расписание Дата начала расписания Дата окончания расписания
0  Поставщик 1   дддвсвнн        01.01.2019 0:00           10.01.2019 0:00
1  Поставщик 1     ннвннв        11.01.2019 0:00           15.01.2019 0:00
2  Поставщик 1         св        16.01.2019 0:00           20.01.2019 0:00
3  Поставщик 2     свсвсв        01.01.2019 0:00           07.01.2019 0:00
4  Поставщик 2      днвсв        08.01.2019 0:00           14.01.2019 0:00
5  Поставщик 2    ннддвсв        15.01.2019 0:00           31.12.9999 0:00
6  Поставщик 3     нвнвнв        01.01.2019 0:00           01.02.2019 0:00
7  Поставщик 3   двдвдвдв        02.02.2019 0:00           31.12.9999 0:00

# Задание 3
## Создать процедуру расчета рабочих дней.

In [384]:
# df = pd.read_csv('T_CONTRACTOR_WORK_DAY.csv')
add_new_contractor(df)
T_CONTRACTOR_WORK_DAY.to_csv('T_CONTRACTOR_WORK_DAY.csv', index=False)
T_CONTRACTOR_WORK_DAY

      ID         NAME          DATE_BEGIN            DATE_END
0      1  Поставщик 1 2019-01-01 08:00:00 2019-01-01 20:00:00
1      2  Поставщик 1 2019-01-02 08:00:00 2019-01-02 20:00:00
2      3  Поставщик 1 2019-01-03 08:00:00 2019-01-03 20:00:00
3      4  Поставщик 1 2019-01-05 08:00:00 2019-01-06 08:00:00
4      5  Поставщик 1 2019-01-08 20:00:00 2019-01-09 08:00:00
..   ...          ...                 ...                 ...
961  962  Поставщик 3 2021-08-10 08:00:00 2021-08-10 20:00:00
962  963  Поставщик 3 2021-08-12 08:00:00 2021-08-12 20:00:00
963  964  Поставщик 3 2021-08-14 08:00:00 2021-08-14 20:00:00
964  965  Поставщик 3 2021-08-16 08:00:00 2021-08-16 20:00:00
965  966  Поставщик 3 2021-08-18 08:00:00 2021-08-18 20:00:00

[966 rows x 4 columns]

# Задание 4
## 1) Сделать выборку, содержащую, сколько рабочих дней было у каждого поставщика

In [385]:
(T_CONTRACTOR_WORK_DAY.groupby('NAME')['DATE_BEGIN'].count()).sort_values(ascending=False)

NAME
Поставщик 2    480
Поставщик 3    476
Поставщик 1     10
Name: DATE_BEGIN, dtype: int64

## 2) Сделать выборку поставщиков, у которых было больше 10 рабочих дней за январь 2019 года

In [386]:
T_CONTRACTOR_WORK_DAY[T_CONTRACTOR_WORK_DAY.DATE_BEGIN.map(lambda x: x.month)==1].\
groupby('NAME').DATE_BEGIN.count()

NAME
Поставщик 1    10
Поставщик 2    46
Поставщик 3    41
Name: DATE_BEGIN, dtype: int64

# а именно:

In [387]:
[(T_CONTRACTOR_WORK_DAY[T_CONTRACTOR_WORK_DAY.DATE_BEGIN.map(lambda x: x.month)==1].\
groupby('NAME').DATE_BEGIN.count()>10).index.tolist()[ind] for ind, i \
 in enumerate(T_CONTRACTOR_WORK_DAY[T_CONTRACTOR_WORK_DAY.DATE_BEGIN.map(lambda x: x.month)==1].\
groupby('NAME').DATE_BEGIN.count()>10) if i == True]

['Поставщик 2', 'Поставщик 3']

## 3) Сделать выборку поставщиков, кто работал 14, 15 и 16 января 2019 года

In [388]:
[[T_CONTRACTOR_WORK_DAY[T_CONTRACTOR_WORK_DAY.DATE_BEGIN==i].NAME.tolist()[0], f'начало рабочего дня {i}'] for i \
 in T_CONTRACTOR_WORK_DAY.DATE_BEGIN if '01-14' in str(i) or '01-15' in str(i) or '01-16' in str(i) ]\
+[[T_CONTRACTOR_WORK_DAY[T_CONTRACTOR_WORK_DAY.DATE_END==i].NAME.tolist()[0], f'конец рабочего дня {i}'] for i in \
T_CONTRACTOR_WORK_DAY.DATE_END if '01-14' in str(i) or '01-15' in str(i) or '01-16' in str(i) ]

[['Поставщик 1', 'начало рабочего дня 2019-01-16 08:00:00'],
 ['Поставщик 2', 'начало рабочего дня 2019-01-15 20:00:00'],
 ['Поставщик 2', 'начало рабочего дня 2020-01-14 08:00:00'],
 ['Поставщик 2', 'начало рабочего дня 2020-01-15 08:00:00'],
 ['Поставщик 2', 'начало рабочего дня 2021-01-14 20:00:00'],
 ['Поставщик 2', 'начало рабочего дня 2021-01-16 20:00:00'],
 ['Поставщик 3', 'начало рабочего дня 2019-01-16 20:00:00'],
 ['Поставщик 2', 'начало рабочего дня 2020-01-14 08:00:00'],
 ['Поставщик 3', 'начало рабочего дня 2020-01-16 08:00:00'],
 ['Поставщик 3', 'начало рабочего дня 2021-01-14 08:00:00'],
 ['Поставщик 3', 'начало рабочего дня 2021-01-16 08:00:00'],
 ['Поставщик 1', 'конец рабочего дня 2019-01-14 08:00:00'],
 ['Поставщик 2', 'конец рабочего дня 2019-01-16 08:00:00'],
 ['Поставщик 2', 'конец рабочего дня 2020-01-14 20:00:00'],
 ['Поставщик 2', 'конец рабочего дня 2020-01-15 20:00:00'],
 ['Поставщик 2', 'конец рабочего дня 2021-01-15 08:00:00'],
 ['Поставщик 1', 'конец рабочего дня 2019-01-14 08:00:00'],
 ['Поставщик 2', 'конец рабочего дня 2020-01-14 20:00:00'],
 ['Поставщик 3', 'конец рабочего дня 2020-01-16 20:00:00'],
 ['Поставщик 3', 'конец рабочего дня 2021-01-14 20:00:00'],
 ['Поставщик 3', 'конец рабочего дня 2021-01-16 20:00:00']]

# а именно:

In [391]:
set([T_CONTRACTOR_WORK_DAY[T_CONTRACTOR_WORK_DAY.DATE_BEGIN==i].NAME.tolist()[0] for i \
 in T_CONTRACTOR_WORK_DAY.DATE_BEGIN if '01-14' in str(i) or '01-15' in str(i) or '01-16' in str(i) ]\
+[T_CONTRACTOR_WORK_DAY[T_CONTRACTOR_WORK_DAY.DATE_END==i].NAME.tolist()[0] for i in \
T_CONTRACTOR_WORK_DAY.DATE_END if '01-14' in str(i) or '01-15' in str(i) or '01-16' in str(i) ])

{'Поставщик 1', 'Поставщик 2', 'Поставщик 3'}